<div class="container">
  <h1>Welcome to Ity Bity Urls!</h1>
  <br><br>

  <h2>Create a new short URL</h2>

  <form action="/urls" method="post">
    <label for="original_long_url"> Paste Link </label>
     <input type="text" name="original_long_url">
    <input type ="submit" value="Shorten">
  </form>
  
</div>
